#conteiner {
  display: grid;
  border: solid 2px rgb(0, 255, 34);
  grid-template-columns: 200px 2fr;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 20px 20px;
  padding: 15px 15px 15px 15px;
}

#child1 {
  border: solid 2px black;
}

#child2 {
  border: solid 2px rgb(190, 181, 181);
}
#child3 {
  border: solid 2px rgb(206, 19, 19);
}

#child4 {
  border: solid 2px rgb(26, 16, 16);
}
#child5 {
  border: solid 2px rgb(48, 44, 58);
}
#child6 {
  border: solid 2px rgb(124, 12, 12);
}
#child7 {
  border: solid 2px rgb(245, 9, 9);
  grid-column: 1 / span 2;
}
